// main: ../../main.scss

.b-nav {
  border-radius: 0;
  border: none;
  background-color: $primary-1;
  margin-bottom: 0;
  .navbar-header {
    .navbar-brand {
      &.nav-logo {
        padding: 10px 15px;
        img {
          width: 80%;
        }
        @media (max-width: 768px) {
          width: 90px;
          overflow: hidden;
          padding: 0 15px;
          img {
            width: 290px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      &.n-l, &.n-r {
        position: absolute;
      }
      &.n-r {
        right: 15px;
      }
    }
  }
  .navbar-brand {
    color: $black;
    font-size: 15px;
    &:hover {
      color: $black;
    }
  }
}

.d-nav {
  float: left;
  width: 100%;
  border-radius: 0;
  margin: 20px 0 0 0;
  border-top: 1px dashed $primary-1-1;
  .navbar-brand {
    font-size: 15px;
    color: $black;
    &:hover {
      color: $black;
    }
  }
}
