// main: ../../main.scss

.g-profile {
  background-color: $primary-1;
  height: 100%;
  .b-panel-routes {
    width: 100%;
    padding: 20px 0 0 0;
    border-bottom: 1px solid $primary-1-1;
    float: left;
    .tag {
      width: 100%;
      color: $white;
      padding: 0 0 20px 0;
      .h3 {
        font-size: 40px;
        margin: 0;
      }
    }
    .time {
      margin-bottom: 20px;
      font-size: 18px;
      color: white;
      border-bottom: 1px solid $primary-1-1;
      padding-bottom: 20px;
    }
    .comments {
      color: $primary-1-1;
      font-size: 13px;
      font-style: italic;
      line-height: 20px;
      padding-bottom: 20px;
    }
    .comments-textarea {
      color: white;
      font-size: 13px;
      padding-bottom: 20px;
    }
    textarea {
      min-height: 150px;
      margin-bottom: 20px;
    }
    .btn-success {
      margin-bottom: 20px
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .nav-tabs {
    background-color: $white;
    border-bottom: 1px solid $white;
    > li {
      width: 33.333333%;
      text-align: center;
    }
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    border-width: 0;
  }
  .nav-tabs > li > a {
    border-radius: 0;
    border: none; color: $primary-3-1;
    height: 50px;
    padding: 15px;
    text-transform: uppercase;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li > a:hover {
    border: none;
    color: $primary-3 !important;
    background: transparent;
  }
  .nav-tabs > li > a::after {
    content: "";
    background: $primary-3;
    height: 2px; position:
    absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
  }
  .nav-tabs > li.active > a::after,
  .nav-tabs > li:hover > a::after {
    transform: scale(1);
  }

}
