// main: ../../main.scss

.g-route {
  .form-route {
    .btn {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .panel-info {
      margin-top: 20px;
      margin-bottom: 0;
    }
    .panel-title {
      text-align: center;
      padding: 30px 30px 15px 30px;
      font-size: 25px;
      text-transform: uppercase;
    }
    .panel-body {
      padding: 30px;
      .form-group {
        margin-bottom: 0;
      }
    }
    .input-map {
      width: 100%;
    }
  }
}
