<div class="b-form form-route">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="form-group">
        <div class="panel-time">
          <span class="nam">{{ name }}</span>
          <select class="form-control selectmenu" [ngModel]="hoursSelect" (ngModelChange)="getHour($event)">
            <option [ngValue]="item.name" *ngFor="let item of hours">{{ item.name }}</option>
          </select>
          <span class="sep">:</span>
          <select class="form-control selectmenu" [ngModel]="minutesSelect" (ngModelChange)="getMinute($event)">
            <option [ngValue]="item.name" *ngFor="let item of minutes">{{ item.name }}</option>
          </select>
        </div>
        <input placeholder="Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control input-map input-style" #pickupGPlaces>
      </div>
    </div>
  </div>
</div>
