<app-navbar></app-navbar>
<div class="g-route" *ngIf="!dataComplete">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <a [routerLink]="['/geoplace']">GEOPLACE</a>
        <app-geo-input [label]="Origin" (selectionCompleted)="originSelected($event)"></app-geo-input>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <app-geo-input [label]="Destination" (selectionCompleted)="destinationSelected($event)"></app-geo-input>
      </div>
    </div>
  </div>
</div>
<div class="g-map" *ngIf="dataComplete">
  <div class="row">
    <div class="col-md-12">
      <sebm-google-map [styles]="styles" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="mapCustomStyles">
        <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconurl">
          <sebm-google-map-info-window>
            <strong>Current position</strong>
          </sebm-google-map-info-window>
        </sebm-google-map-marker>
        <sebm-google-map-directions *ngIf="location" [origin]="origin" [destination]="destination" (eventCompleted)="showRoute($event)" (eventCompletedData)="dataRoute($event)"></sebm-google-map-directions>
      </sebm-google-map>
    </div>
    <div class="col-md-12" *ngIf="userTime">
      <nav class="nav-results navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="navbar-brand">Time selected: <span>{{ userTime }}</span></span>
            <span class="navbar-brand">Origin: <span>{{ origin.location.name }}</span></span>
            <span class="navbar-brand">Destination: <span>{{ destination.location.name }}</span></span>
            <div class="p-r">
              <a class="navbar-brand" (click)="setMapRoute()">SAVE ROUTE</a>
              <a class="navbar-brand" (click)="dataCompleteFalse()">SEARCH AGAIN</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <app-geo-info *ngIf="location" [origin]="origin" [destination]="destination" [userPlaces]="userPlaces" [userPlacesRoute]="userPlacesRoute"></app-geo-info>
  </div>
</div>
